body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

main {
    padding: 70px;
}

#search-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#search-bar {
    width: 70%;
    padding: 10px;
}

#genre-filter {
    width: 25%;
    padding: 10px;
}

#books-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.book-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.book-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.book-card h3 {
    margin: 10px 0;
}

.book-card button {
    background-color: #f39c12;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#pagination {
    text-align: center;
    margin-top: 20px;
}

#pagination button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}
